<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeQuantifier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7741F871DAE2CC300DAE003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7741F9B1DAE2CC400DAE003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7741FA61DAE2CC400DAE003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
